<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->

<section>
    <div class="section-section">
        <div class="section-member">
            <div class="member-left">
                <div class="left-nickname">
                    <p class="nickname-nickname"><%- member[0].hname; %></p>
                    <p class="nickname-end">님</p>
                </div>

                <div class="left-classlevel">
                    <p class="classlevel-label">LV</p>
                    <p class="classlevel-name" style=<%- classlevelcss %>><%- member[0].classlevelhname; %></p>
                </div>
            </div>

            <div class="member-right">
                <div class="right-text">
                    <p class="text-text">캐시포인트</p>
                </div>

                <div class="right-cashpoint">
                    <p class="cashpoint-ea"><%- member[0].membercp.toLocaleString(); %></p>
                    <p class="cashpoint-unit">CP</p>
                </div>
            </div>
        </div>

        <div class="section-point">
            <div class="point-point point-exp">

            </div>

            <div class="point-point point-nton">
                
            </div>

            <div class="point-point point-trv">
                
            </div>

            <div class="point-point point-mctk">
                
            </div>

        </div>

    </div>
</section>


<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->