<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->

<section>
    <div class="section-section">

        <hr class="section-hr">

        <div class="section-infor">
            <div class="infor-member">
                <div class="member-memberleft">
                    <div class="memberleft-nickname">
                        <p class="nickname-nickname"><%- member[0].hname; %></p>
                        <p class="nickname-end">님</p>
                    </div>

                    <div class="memberleft-classlevel">
                        <p class="classlevel-label">LV</p>
                        <p class="classlevel-name" style=<%- classlevelcss %>><%- member[0].classlevelhname; %></p>
                    </div>
                </div>

                <div class="member-memberright">
                    <div class="memberright-cashpointown">
                        <p class="cashpointown-text">보유</p>
                        <p class="cashpointown-ea"><%- member[0].membercp.toLocaleString(); %></p>
                        <p class="cashpointown-unit">CP</p>
                    </div>

                    <div class="memberright-cashpointexchange">
                        <p class="cashpointexchange-text">미전환</p>
                        <p class="cashpointexchange-ea">405,631,988</p>
                        <p class="cashpointexchange-unit">CP</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="section-hr">

        <div class="section-points">
            <div class="points-point point-mctk">
                <div class="point-infor">
                    <div class="infor-pointname">
                        <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                        <p class="pointname-name">Mine Token</p>
                    </div>

                    <div class="infor-rate">
                        <p class="rate-ea1">55.</p>
                        <p class="rate-ea2">1241</p>
                        <p class="rate-unit">CP</p>
                    </div>
                </div>

                <div class="point-own">
                    <div class="own-point">
                        <p class="point-ea color-mctk">4,928,223</p>
                        <p class="point-unit color-mctk">MCTK</p>
                    </div>

                    <div class="own-exchange">
                        <p class="exchange-ea">271,663,857</p>
                        <p class="exchange-unit">CP</p>
                    </div>
                </div>
            </div>

            <div class="points-point point-nton">
                <div class="point-infor">
                    <div class="infor-pointname">
                        <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                        <p class="pointname-name">NTON point</p>
                    </div>

                    <div class="infor-rate">
                        <p class="rate-ea1">3,384.</p>
                        <p class="rate-ea2">6731</p>
                        <p class="rate-unit">CP</p>
                    </div>
                </div>

                <div class="point-own">
                    <div class="own-point">
                        <p class="point-ea color-nton">24,928</p>
                        <p class="point-unit color-nton">NTON</p>
                    </div>

                    <div class="own-exchange">
                        <p class="exchange-ea">84,373,131</p>
                        <p class="exchange-unit">CP</p>
                    </div>
                </div>
            </div>

            <div class="points-point point-trvt">
                <div class="point-infor">
                    <div class="infor-pointname">
                        <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                        <p class="pointname-name">TRV Token</p>
                    </div>

                    <div class="infor-rate">
                        <p class="rate-ea1">11.</p>
                        <p class="rate-ea2">0000</p>
                        <p class="rate-unit">CP</p>
                    </div>
                </div>

                <div class="point-own">
                    <div class="own-point">
                        <p class="point-ea color-trvt">145,000</p>
                        <p class="point-unit color-trvt">TRVT</p>
                    </div>

                    <div class="own-exchange">
                        <p class="exchange-ea">1,595,000</p>
                        <p class="exchange-unit">CP</p>
                    </div>
                </div>
            </div>

            <div class="points-point point-exp">
                <div class="point-infor">
                    <div class="infor-pointname">
                        <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                        <p class="pointname-name">EXP</p>
                    </div>

                    <div class="infor-rate">
                        <p class="rate-ea1">1,000.</p>
                        <p class="rate-ea2">0000</p>
                        <p class="rate-unit">CP</p>
                    </div>
                </div>

                <div class="point-own">
                    <div class="own-point">
                        <p class="point-ea color-exp">48,000</p>
                        <p class="point-unit color-exp">EXP</p>
                    </div>

                    <div class="own-exchange">
                        <p class="exchange-ea">48,000,000</p>
                        <p class="exchange-unit">CP</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-blank"></div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->