<!-- bhseo1223 nodejs : ejs - point_header: rkmarket_app -->

<header>
    <div class="header-header">
        <div class="header-headerleft">
            <img class="headerleft-icon" src="/icon/point_swap_back.svg" alt="" onclick="history.go(-1)">
        </div>

        <div class="header-headercenter">
            <a href="/main/main">
                <p class="headercenter-title"><%- title; %></p>
            </a>
        </div>

        <div class="header-headerright">
            <a href="">
                <img class="headerright-icon" src="" alt="">
            </a>
        </div>
    </div>
</header>


<!-- bhseo1223 nodejs : ejs - point_header : rkmarket_app -->