<!-- bhseo1223 nodejs : ejs - member_login_footer : rkmarket_app -->

<footer>
    <div class="footer-footer">
        <p class="footer-text">- CRYPTO MARKET PLACE -</p>
    </div>
</footer>


<!-- bhseo1223 nodejs : ejs - member_login_footer : rkmarket_app -->