/* bhseo1223 nodejs : css - point_swap_exchange_section : rkmarket_app */

section { /* 전체 */
    position: relative;
    z-index: 9;
    width: 100vw;
}

/* .section-section {} 전체-섹션 */

.section-hr { /* 섹션-라인 */
    height: 0.5px;
    background: gray;
}

.section-infor { /* 섹션-정보 */
    width: 96vw;
    height: 20vw;
    margin: 0 auto 0 auto;
}

.infor-member { /* 정보-회원 */
    display: flex;
    justify-content: space-between;
}
.member-memberleft { /* 회원-좌 */
    height: 13vw;
    margin: 3vw 0 0 3vw;
}
.memberleft-nickname { /* 좌-닉네임 */
    display: flex;
}
.nickname-nickname { /* 닉네임-닉네임 */
    height: 6vw;
    margin: 0 0.3vw 0 0;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 500;
}
.nickname-end { /* 닉네임-님 */
    height: 6vw;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 400;
}
.memberleft-classlevel { /* 좌-구매등급 */
    display: flex;
    margin: 1vw 0 0 0;
}
.classlevel-label { /* 구매등급-라벨 */
    height: 6vw;
    margin: 0 1.5vw 0 0;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 500;
}
.classlevel-name { /* 구매등급-명칭 */
    text-align: center;
    padding: 0 2vw 0 2vw;
    font-size: 3.5vw;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
}
.member-memberright { /* 회원-우 */
    height: 13vw;
    margin: 3vw 3vw 0 0;
}
.memberright-cashpointown { /* 우-보유 */
    display: flex;
    justify-content: flex-end;
}
.cashpointown-text { /* 보유-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpointown-ea { /* 보유-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpointown-unit { /* 보유-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.memberright-cashpointexchange { /* 우-전환 */
    display: flex;
    justify-content: flex-end;
    margin: 1vw 0 0 0;
}
.cashpointexchange-text { /* 전환-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpointexchange-ea { /* 전환-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpointexchange-unit { /* 전환-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}

.section-points { /* 전체-포인트s */
    width: 90vw;
    margin: 5vw auto 5vw auto;
}
.points-point { /* 포인트s-포인트 */
    height: 48vw;
    margin: 0 0 4vw 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px gray;
    background: white;
}
.point-infor { /* 포인트-정보 */
    margin: 0;
}
.infor-infortop { /* 정보-상 */
    display: flex;
    justify-content: space-between;
}
.infortop-pointname { /* 상-포인트명칭*/
    display: flex;
    margin: 4vw 2vw 0 4vw;
}
.pointname-image { /* 포인트명칭-이미지 */
    height: 6vw;
    margin: 0 2vw 0 0;
}
.pointname-name { /* 포인트명칭-명칭 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.infortop-rate { /* 상-시세 */
    display: flex;
    justify-content: flex-end;
    margin: 4vw 4vw 0 0;
}
.rate-text { /* 시세-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.rate-ea1 { /* 시세-수량1 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.rate-ea2 { /* 시세-수량2 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
    color: dimgray;
}
.rate-unit { /* 시세-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.infor-infordown { /* 포인트-하 */
    display: flex;
    justify-content: space-between;
    margin: 2vw 4vw 4vw 4vw;
}
.infor-infordown > a { /* 포인트-하 */
    margin: auto 0 auto 2vw;
}
.infor-infordown > div { /* 포인트-하 */
    margin: auto 0 auto 2vw;
}
.infordown-swap { /* 하-스왑 */
    text-align: center;
    height: 7vw;
    padding: 0 4vw 0 4vw;
    line-height: 6.5vw;
    font-size: 3.5vw;
    font-weight: 500;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: var(--color-point);
}
.infordown-own { /* 하-보유 */
    margin: 0;
}
.own-cashpoint { /* 보유-캐시포인트 */
    display: flex;
    justify-content: flex-end;
}
.cashpoint-text { /* 캐시포인트-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpoint-ea1 { /* 캐시포인트-수량1 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpoint-ea2 { /* 캐시포인트-수량2 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.cashpoint-unit { /* 캐시포인트-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.own-exchange { /* 하-전환 */
    display: flex;
    justify-content: flex-end;
}
.exchange-text { /* 전환-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.exchange-ea { /* 전환-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.exchange-unit { /* 전환-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}

.point-detail { /* 포인트-상세 */
    margin: 0;
}
.detail-hr { /* 상세-라인 */
    width: 86vw;
    height: 0.5px;
    margin: 4vw 2vw 4vw 2vw;
    background: gray;
}
.detail-detailtext { /* 상세-상세문구 */
    display: flex;
    justify-content: space-between;
    margin: 0 4vw 0 4vw;
}
.detailtext-text { /* 상세문구-문구 */
    height: 6vw;
    line-height: 6vw;
    font-size: 3.5vw;
    font-weight: 400;
}
.detail-limitdaily { /* 상세-일일한도 */
    display: flex;
    justify-content: space-between;
    margin: 0 4vw 0 4vw;
}
.limitdaily-limit { /* 일일한도-한도 */
    display: flex;
}
.limit-ea { /* 한도-문구 */
    margin: 0 0.5vw 0 0;
    font-size: 4vw;
    font-weight: 500;
    color: red;
}
.limit-unit { /* 한도-단위 */
    font-size: 4vw;
    font-weight: 400;
    color: red;
}.limitdaily-remain { /* 일일한도-잔여 */
    display: flex;
}
.remain-ea { /* 잔여-문구 */
    margin: 0 0.5vw 0 0;
    font-size: 4vw;
    font-weight: 500;
}
.remain-unit { /* 잔여-단위 */
    font-size: 4vw;
    font-weight: 400;
}

.color-exp { /* 글자색-EXP */
    color: navy;
}
.color-mc { /* 글자색-MC */
    color: green;
}
.color-mctk { /* 글자색-MCTK */
    color: green;
}
.color-nton { /* 글자색-NTON */
    color: darkcyan;
}
.color-trvt { /* 글자색-TRVT */
    color: purple;
}
.background-exp { /* 배경-EXP */
    background: navy;
}
.background-mc { /* 배경-MC */
    background: green;
}
.background-mctk { /* 배경-MCTK */
    background: green;
}
.background-nton { /* 배경-NTON */
    background: darkcyan;
}
.background-trvt { /* 배경-TRVT */
    background: purple;
}
.point-exp { /* 배경-EXP */
    background: rgba(0, 0, 128, 0.05);
}
.point-mc { /* 배경-MC */
    background: rgba(0, 128, 0, 0.05);
}
.point-mctk { /* 배경-MCTK */
    background: rgba(0, 128, 0, 0.05);
}
.point-nton { /* 배경-NTON */
    background:rgba(0, 139, 139, 0.05);
}
.point-trvt { /* 배경-TRVT */
    background: rgba(128, 0, 128, 0.05);
}

.section-swap { /* 전체-스왑 */
    margin: 6vw auto 0 auto;
}
/* .swap-condition {} 스왑-조건 */
.condition-data { /* 조건-데이터 */
    display: flex;
    justify-content: space-between;
}
.data-text { /* 데이터-문구 */
    text-align: right;
    width: 20vw;
    height: 10vw;
    line-height: 10vw;
    margin: 0 0 1vw 0;
    font-size: 3.8vw;
    font-weight: 400;
}
.data-value { /* 데이터-값 */
    width: 63vw;
    height: 10vw;
    line-height: 10vw;
    padding: 0 2vw 0 2vw;
    margin: 0 0 1vw 0;
    font-size: 3.8vw;
    font-weight: 500;
    border: 1px solid gray;
    background: white;
}
.value-targetpoint { /* 값-대상포인트 */
    width: calc(63vw + 4vw + 2px);
    padding: 0 2vw 0 1vw;
    font-weight: 500;
}
.value-swaprate { /* 값-스왑요율 */
    font-weight: 400;
    background: var(--color-box-background);
}
.value-targetea { /* 값-대상수량 */
    font-weight: 400;
    background: var(--color-box-background);
}
.value-commissionrate { /* 값-수수요율 */
    font-weight: 400;
    color: red;
    background: var(--color-box-background);
}
.value-commission { /* 값-수수료 */
    font-weight: 400;
    background: var(--color-box-background);
}
.value-occurea { /* 값-지급수량 */
    margin: 0 0 6vw 0;
    background: var(--color-box-background);
}
::placeholder {
    font-weight: 400;
}
.value-sourceea:focus, 
.value-targetpoint:focus { /* 데이터-값(포커스) */
    border: 1.5px solid var(--color-point-border);
    border-radius: 0;
    outline: 0;
}
.data-button { /* 데이터-버튼 */
    width: 90vw;
    height: 12vw;
    line-height: 12vw;
    margin: 6vw auto 0 auto;
    color: white;
    font-size: 4vw;
    font-weight: 500;
    background: gray;
}

.section-caution { /* 전체-주의 */
    margin: 3vw 3vw 0 3vw;
}
.caution-text { /* 주의-문구 */
    font-size: 3.5vw;
    font-weight: 400;
    color: red;
}

.section-blank { /* 전체-공란 */
    height: 1vw;
}


/* bhseo1223 nodejs : css - point_swap_exchange_section : rkmarket_app */