/* bhseo1223 nodejs : css - point_swap_list_section : rkmarket_app */

section { /* 전체 */
    position: relative;
    z-index: 9;
    width: 100vw;
}

/* .section-section {} 전체-섹션 */

.section-hr { /* 섹션-라인 */
    height: 0.5px;
    background: gray;
}

.section-infor { /* 섹션-정보 */
    width: 96vw;
    height: 20vw;
    margin: 0 auto 0 auto;
}

.infor-member { /* 정보-회원 */
    display: flex;
    justify-content: space-between;
}
.member-memberleft { /* 회원-좌 */
    height: 13vw;
    margin: 3vw 0 0 3vw;
}
.memberleft-nickname { /* 좌-닉네임 */
    display: flex;
}
.nickname-nickname { /* 닉네임-닉네임 */
    height: 6vw;
    margin: 0 0.3vw 0 0;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 500;
}
.nickname-end { /* 닉네임-님 */
    height: 6vw;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 400;
}
.memberleft-classlevel { /* 좌-구매등급 */
    display: flex;
    margin: 1vw 0 0 0;
}
.classlevel-label { /* 구매등급-라벨 */
    height: 6vw;
    margin: 0 1.5vw 0 0;
    line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 500;
}
.classlevel-name { /* 구매등급-명칭 */
    text-align: center;
    padding: 0 2vw 0 2vw;
    font-size: 3.5vw;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
}
.member-memberright { /* 회원-우 */
    height: 13vw;
    margin: 3vw 3vw 0 0;
}
.memberright-cashpointown { /* 우-보유 */
    display: flex;
    justify-content: flex-end;
}
.cashpointown-text { /* 보유-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpointown-ea { /* 보유-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpointown-unit { /* 보유-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.memberright-cashpointexchange { /* 우-전환 */
    display: flex;
    justify-content: flex-end;
    margin: 1vw 0 0 0;
}
.cashpointexchange-text { /* 전환-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpointexchange-ea { /* 전환-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpointexchange-unit { /* 전환-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}

.section-points { /* 전체-포인트s */
    width: 90vw;
    margin: 5vw auto 10vw auto;
}
.points-point { /* 포인트s-포인트 */
    height: 28vw;
    margin: 0 0 4vw 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px gray;
    background: white;
}
.point-infor { /* 포인트-정보 */
    margin: 0;
}
.infor-infortop { /* 정보-상 */
    display: flex;
    justify-content: space-between;
}
.infortop-pointname { /* 상-포인트명칭*/
    display: flex;
    margin: 4vw 2vw 0 4vw;
}
.pointname-image { /* 포인트명칭-이미지 */
    height: 6vw;
    margin: 0 2vw 0 0;
}
.pointname-name { /* 포인트명칭-명칭 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.infortop-rate { /* 상-시세 */
    display: flex;
    justify-content: flex-end;
    margin: 4vw 4vw 0 0;
}
.rate-text { /* 시세-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.rate-ea1 { /* 시세-수량1 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.rate-ea2 { /* 시세-수량2 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
    color: dimgray;
}
.rate-unit { /* 시세-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.infor-infordown { /* 포인트-하 */
    display: flex;
    justify-content: space-between;
    margin: 2vw 4vw 4vw 4vw;
}
.infor-infordown > a { /* 포인트-하 */
    margin: auto 0 auto 0;
}
.infor-infordown > div { /* 포인트-하 */
    margin: auto 0 auto 0;
}
.infordown-swap { /* 하-스왑 */
    text-align: center;
    height: 7vw;
    padding: 0 3vw 0 3vw;
    line-height: 6.5vw;
    font-size: 3.5vw;
    font-weight: 500;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: var(--color-point);
}
.infordown-list { /* 하-목록 */
    text-align: center;
    height: 7vw;
    padding: 0 3vw 0 3vw;
    margin: 0 0 0 0.5vw;
    line-height: 6.5vw;
    font-size: 3.5vw;
    font-weight: 500;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: var(--color-point);
}
.infordown-own { /* 하-보유 */
    width: 55vw;
}
.own-cashpoint { /* 보유-캐시포인트 */
    display: flex;
    justify-content: flex-end;
}
.cashpoint-text { /* 캐시포인트-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.cashpoint-ea1 { /* 캐시포인트-수량1 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.cashpoint-ea2 { /* 캐시포인트-수량2 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.cashpoint-unit { /* 캐시포인트-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}
.own-exchange { /* 하-전환 */
    display: flex;
    justify-content: flex-end;
}
.exchange-text { /* 전환-문구 */
    height: 6vw;
    margin: 0 1vw 0 0;
    line-height: 6vw;
    font-size: 3.2vw;
    font-weight: 400;
}
.exchange-ea { /* 전환-수량 */
    height: 6vw;
    margin: 0 0.5vw 0 0;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
}
.exchange-unit { /* 전환-단위 */
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}

.section-list {

}
.list-column {

}
.column-line {
    display: flex;
    justify-content: space-between;
}
.column-name {
    height: 6vw;
    line-height: 6vw;
    font-size: 3.5vw;
    font-weight: 500;
}
.list-data {

}
.data-line {
    display: flex;
    justify-content: space-between;
}
.data-value {
    height: 6vw;
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 400;
}


.section-blank { /* 전체-공란 */
    height: 1vw;
}


/* bhseo1223 nodejs : css - point_swap_list_section : rkmarket_app */