/* bhseo1223 nodejs : css - style : rkmarket_app */

/* 공통 */
:root {
    --color-main: rgb(0155, 0, 255); /* 메인 */

    /* 백그라운드 */
    --color-main-header-backgroud: rgb(105, 0, 255); /* 메인 헤더 백그라운드 */
    --color-main-section-backgroud: rgb(105, 0, 255); /* 메인 섹션 백그라운드 */
    --color-main-footer-backgroud: rgb(155, 0, 255); /* 메인 푸터 백그라운드 */

    /* 박스 */
    --color-box: rgb(125, 125, 125); /* 박스 */
}


/* bhseo1223 nodejs : css - style : rkmarket_app */