/* bhseo1223 nodejs : css - style : rkmarket_app */

/* 공통 */
:root {
    --color-main: rgb(225, 0, 105); /* 메인 */
    color: rgb(154, 205, 50);

    /* 백그라운드 */
    --color-main-header-backgroud: rgb(105, 0, 255); /* 메인 헤더 백그라운드 */
    --color-main-section-backgroud: rgb(105, 0, 255); /* 메인 섹션 백그라운드 */
    --color-main-footer-backgroud: rgb(155, 0, 255); /* 메인 푸터 백그라운드 */

    /* 지정 색상 */
    --color-shopping: rgb(255, 25, 0); /* 쇼핑하기 색상 */
    --color-shopping-lite: rgba(255, 25, 0, 0.8); /* 쇼핑하기 색상 LITE */
    --color-pay: rgb(225, 0, 105); /* 크립토페이 색상 */
    --color-pay-lite: rgba(225, 0, 105, 0.8); /* 크립토페이 색상 LITE*/
    --color-point: rgba(155, 0, 255); /* 포인트 색상 */
    --color-point-lite: rgb(155, 0, 255, 0.8); /* 포인트 색상 LITE*/
    --color-trade: rgb(155, 185, 55); /* 거래하기 색상 */
    --color-trade-lite: rgba(155, 185, 55, 0.8); /* 거래하기 색상 LITE*/

    /* 박스 */
    --color-box: rgb(125, 125, 125); /* 박스 */
}


/* bhseo1223 nodejs : css - style : rkmarket_app */