/* bhseo1223 nodejs : css - member_login_section : rkmarket_app */

section { /* 전체 */
    background: white;
}

.section-section { /* 전체-섹션 */
    margin: auto;
}

.section-title { /* 섹션-타이틀 */
    width: 80vw;
    margin: 10vw auto 0 auto;
}
.title-title { /* 타이틀-타이틀 */
    font-size: 5.0vw;
    font-weight: 600;
    color: var(--color-main);
}
.title-text { /* 타이틀-문구 */
    margin: 2vw 0 0 1vw;
    font-size: 3.5vw;
    font-weight: 400;
}

.section-memberlogin { /* 섹션-회원로그인 */
    width: 80vw;
    margin: 10vw auto 0 auto;
}
.memberlogin-member { /* 회원로그인-회원 */
    margin: auto;
}
.member-column { /* 회원-컬럼 */
    width: calc(80vw - 3.5vw - 2px);
    height: 11vw;
    margin: 0 auto 2vw auto;
    padding: 0 0 0 3.5vw;
    font-size: 4.0vw;
    border: 1px solid var(--color-box);
}
.memberlogin-submit { /* 회원로그인-로그인 */
    width: 80vw;
    height: 12vw;
    margin: 1vw auto 0 auto;
    font-size: 4vw;
    font-weight: 500;
    color: white;
    background: var(--color-main);
}
.memberlogin-caution { /* 회원로그인-주의문구 */
    text-align: center;
    width: 80vw;
    height: 11vw;
    margin: 2vw auto 2vw auto;
    font-size: 3.5vw;
    color: navy;
}

.section-memberjoinsearch { /* 전체-회원가입찾기 */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 74vw;
    margin: 0 auto 0 auto;
}
.memberjoinsearch-link { /* 회원가입찾기-링크 */
    text-align: center;
    width: 30vw;
    font-size: 3.8vw;
    font-weight: 500;
    color: var(--color-main);
}
.link-join { /* 링크-회원가입 */
    text-align: left;
}
.link-searchpassword { /* 링크-비밀번호찾기 */
    text-align: right;
}


/* bhseo1223 nodejs : css - member_login_section : rkmarket_app */