<!-- bhseo1223 nodejs : ejs - member_login : rkmarket_app -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

        <title>RKmarket</title>

        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/member/member_login_section.css">
    </head>

    <body>
        <%- include('parts/member_login_section'); %>
    </body>
</html>


<!-- bhseo1223 nodejs : ejs - member_login : rkmarket_app -->