<!-- bhseo1223 nodejs : ejs - point_swap : rkmarket_app -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <title>Crypto Market Place</title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/main/main_header.css">
        <link rel="stylesheet" href="/css/main/main_section_infor.css">
        <link rel="stylesheet" href="/css/main/main_section_main.css">
        <link rel="stylesheet" href="/css/main/main_footer.css">
    </head>

    <style>
        header {
            height: 9vh;
            background: var(--color-point);
        }
        section {
            top: 0vh;
            height: calc(100vh - 16vh);
            background: var(--color-point);
        }
        .cashpoint-ea, .cashpoint-unit {
            color: var(--color-point-text);
        }
        .box-category, .box-name, .box-descript {
            color: var(--color-point-text);
        }
        .box-right {
            background: var(--color-point-deep);
        }
    </style>

    <body>
        <%- include('parts/main_header'); %>
        <%- include('parts/main_section_infor'); %>
        <%- include('parts/main_section_point'); %>
        <%- include('parts/main_footer'); %>
    </body>
</html>


<!-- bhseo1223 nodejs : ejs - point_swap : rkmarket_app -->