<!-- bhseo1223 nodejs : ejs - main_shopping : rkmarket_app -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <title>Crypto Market Place</title>

        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/main/main_header.css">
        <link rel="stylesheet" href="../css/main/main_section_infor.css">
        <link rel="stylesheet" href="../css/main/main_section_shopping.css">
        <link rel="stylesheet" href="../css/main/main_footer.css">
    </head>

    <style>
        header {
            height: 5vh;
            background: var(--color-shopping);
        }
        section {
            background: var(--color-shopping);
        }
    </style>

    <body>
        <%- include('parts/main_header'); %>
        <%- include('parts/main_section_infor'); %>
        <%- include('parts/main_section_pay'); %>
        <%- include('parts/main_footer'); %>
    </body>
</html>


<!-- bhseo1223 nodejs : ejs - main_shopping : rkmarket_app -->