<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->

<header>
    <div class="header-mainheader">
        <div class="mainheader-top top-left">
            좌
        </div>
        <div class="mainheader-top top-center">
            R.K. 마켓
        </div>
        <div class="mainheader-top top-right">
            우
        </div>
    </div>

    <hr class="header-hr">
</header>


<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->