<!-- bhseo1223 nodejs : ejs - main_pays-ection : rkmarket_app -->

<section>
    <div class="section-infor">
        <div class="infor-member">
            <div class="member-left">
                <div class="left-nickname">
                    <p class="nickname-nickname">RK마켓조아</p>
                    <p class="nickname-end">님</p>
                </div>

                <div class="left-classlevel">
                    <p class="classlevel-label">LV</p>
                    <p class="classlevel-name" style=<%- classlevelcss %>><%- member[0].classlevelhname; %></p>
                </div>
            </div>

            <div class="member-right">
                <div class="right-text">
                    <p class="text-text">캐시포인트</p>
                </div>

                <div class="right-cashpoint">
                    <p class="cashpoint-ea"><%- member[0].cp.toLocaleString(); %></p>
                    <p class="cashpoint-unit">CP</p>
                </div>
            </div>
        </div>

        <hr class="infor-hr">

        <div class="infor-icons">
            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/shopping_line.svg" alt="">
                <p class="icon-text">쇼핑하기</p>
            </div>

            <div class="icons-icon">
                <a href="/main/main_pay">
                    <img class="icon-icon" src="../image/icon/pay_line.svg" alt="">
                    <p class="icon-text">크립토페이</p>
                </a>
            </div>

            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/point_line.svg" alt="">
                <p class="icon-text">포인트</p>
            </div>

            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/trade_line.svg" alt="">
                <p class="icon-text">거래하기</p>
            </div>
        </div>
    </div>

    <div class="section-main">
        <div class="main-box box-card">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP충전(신용카드)</p>
                <p class="box-descript">캐시포인트를 신용카드로 충전!</p>
            </div>

            <div class="box-right right-card">
                <img class="box-icon" src="../image/icon/pay_card.svg" alt="">
            </div>
        </div>

        <div class="main-box box-point">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP충전(포인트)</p>
                <p class="box-descript">캐시포인트를 포인트로 충전!</p>
            </div>

            <div class="box-right right-point">
                <img class="box-icon" src="../image/icon/pay_point.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_pay_ection : rkmarket_app -->