<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->

<section>
    <div class="section-mainpoint">
포인트
    </div>

    <div class="section-mainmall">
쇼핑몰
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->