<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->

<section>
    <div class="section-member">
        <div class="member-left">
            <div class="left-image">

            </div>
            <div class="left-nickname">
                <p class="nickname-data">nickname</p>
            </div>
        </div>

        <div class="member-right">
            <div class="right-levelnickname">
                <p class="levelnickname-level">LV</p>
                <p class="levelnickname-nickname">RK마켓조아</p>
                <p class="levelnickname-end">님</p>
            </div>

            <div class="right-cp">
                <p class="cp-symbol">@</p>
                <p class="cp-point">110,500,000</p>
                <p class="cp-value">(110,000,000)</p>
            </div>
        </div>
    </div>

    <div class="section-mainmall">
쇼핑몰
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->