<!-- bhseo1223 nodejs : ejs - main_section_pay : rkmarket_app -->

    <div class="section-main">
        <div class="main-box box-paycard">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP충전(신용카드)</p>
                <p class="box-descript">신용카드로 캐시포인트를 충전!</p>
            </div>

            <div class="box-right right-paycard">
                <img class="box-icon" src="../image/icon/pay_card.svg" alt="">
            </div>
        </div>

        <div class="main-box box-paypoint">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP충전(포인트)</p>
                <p class="box-descript">포인트로 캐시포인트를 충전!</p>
            </div>

            <div class="box-right right-paypoint">
                <img class="box-icon" src="../image/icon/pay_point.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_pay : rkmarket_app -->