<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->

<header>
    <div class="header-mainheader">
        <div class="mainheader-top top-left">
            <img class="left-icon" src="../image/icon/menu.svg" alt="">
        </div>

        <div class="mainheader-top top-center">
            <p class="center-title">크립토 마켓 플레이스</p>
        </div>

        <div class="mainheader-top top-right">
            <img class="left-icon" src="../image/icon/search.svg" alt="">
        </div>
    </div>

    <div class="header-blank">
    </div>
</header>


<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->