<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->

<header>
    <div class="header-header">
        <div class="header-headerleft">
            <a href="/main/menu">
                <img class="headerleft-icon" src="/icon/menu.svg" alt="">
            </a>
        </div>

        <div class="header-headercenter">
            <a href="/main/main">
                <p class="headercenter-title"><%- title; %></p>
            </a>
        </div>

        <div class="header-headerright">
            <a href="/main/search">
                <img class="headerright-icon" src="/icon/search.svg" alt="">
            </a>
        </div>
    </div>
</header>


<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->