<!-- bhseo1223 nodejs : ejs - main_section_main : rkmarket_app -->

    <div class="section-main">
        <div class="main-box box-shopping">
            <div class="box-left">
                <p class="box-category">쇼핑하기</p>
                <p class="box-name">크립토몰</p>
                <p class="box-descript">캐시포인트로 비즈니스 쇼핑하자!</p>
            </div>

            <div class="box-right right-shopping">
                <img class="box-icon" src="../image/icon/shopping_cryptomall.svg" alt="">
            </div>
        </div>

        <div class="main-box box-trade">
            <div class="box-left">
                <p class="box-category">거래하기</p>
                <p class="box-name">CP&P 보내기</p>
                <p class="box-descript">캐시포인트와 포인트 보내기!</p>
            </div>

            <div class="box-right right-trade">
                <img class="box-icon" src="../image/icon/trade_send.svg" alt="">
            </div>
        </div>

        <div class="main-box box-pay">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP충전(신용카드)</p>
                <p class="box-descript">신용카드로 캐시포인트를 충전!</p>
            </div>

            <div class="box-right right-pay">
                <img class="box-icon" src="../image/icon/pay_card.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_main : rkmarket_app -->