<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->

<header>
    <div class="header-mainheader">
        <div class="mainheader-top top-left">
            <p>좌</p>
        </div>
        <div class="mainheader-top top-center">
            <p>RK 마켓</p>
        </div>
        <div class="mainheader-top top-right">
            <p>우</p>
        </div>
    </div>

    <hr class="mainheader-hr">
</header>


<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->