<!-- bhseo1223 nodejs : ejs - main_section_shopping : rkmarket_app -->

    <div class="section-main">
        <div class="main-box box-shoppingcryptomall">
            <div class="box-left">
                <p class="box-category">쇼핑하기</p>
                <p class="box-name">크립토몰</p>
                <p class="box-descript">캐시포인트로 비즈니스 쇼핑하자!</p>
            </div>

            <div class="box-right right-shoppingcryptomall">
                <img class="box-icon" src="../image/icon/shopping_cryptomall.svg" alt="">
            </div>
        </div>

        <div class="main-box box-shoppingtrvmall">
            <div class="box-left">
                <p class="box-category">쇼핑하기</p>
                <p class="box-name">TRV-몰</p>
                <p class="box-descript">TRV포인트로 엔티온 서비스 혜택!</p>
            </div>

            <div class="box-right right-shoppingtrvmall">
                <img class="box-icon" src="../image/icon/shopping_trvmall.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_shopping : rkmarket_app -->