<!-- bhseo1223 nodejs : ejs - main_section_point : rkmarket_app -->

    <div class="section-main">
        <div class="main-box box-pointswap">
            <div class="box-left">
                <p class="box-category">포인트</p>
                <p class="box-name">스왑</p>
                <p class="box-descript">포인트간 스왑(SWAP)하기!</p>
            </div>

            <div class="box-right right-pointswap">
                <img class="box-icon" src="../image/icon/point_swap.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_point : rkmarket_app -->