<!-- bhseo1223 nodejs : ejs - main_section_main : rkmarket_app -->

        <div class="section-main">
            <div class="main-box box-shopping">
                <div class="box-left">
                    <p class="box-category">쇼핑하기</p>
                    <p class="box-name">크립토몰</p>
                    <p class="box-descript">캐시포인트로 비즈니스 쇼핑하자!</p>
                </div>

                <div class="box-right right-shopping">
                    <img class="box-icon" src="/icon/shopping_cryptomall.svg" alt="">
                </div>
            </div>

            <div class="main-box box-pay">
                <div class="box-left">
                    <p class="box-category">크립토페이</p>
                    <p class="box-name">CP충전(신용카드)</p>
                    <p class="box-descript">신용카드로 캐시포인트를 충전!</p>
                </div>

                <div class="box-right right-pay">
                    <img class="box-icon" src="/icon/pay_card.svg" alt="">
                </div>
            </div>

            <a href="/point/point_swap">
                <div class="main-box box-point">
                    <div class="box-left">
                        <p class="box-category">포인트</p>
                        <p class="box-name">스왑</p>
                        <p class="box-descript">포인트간 스왑(SWAP)하기</p>
                    </div>

                    <div class="box-right right-point">
                        <img class="box-icon" src="/icon/point_swap.svg" alt="">
                    </div>
                </div>
            </a>

            <div class="main-box box-trade">
                <div class="box-left">
                    <p class="box-category">거래하기</p>
                    <p class="box-name">CP&P 보내기</p>
                    <p class="box-descript">캐시포인트와 포인트 보내기!</p>
                </div>

                <div class="box-right right-trade">
                    <img class="box-icon" src="/icon/trade_send.svg" alt="">
                </div>
            </div>


        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_main : rkmarket_app -->