<!-- bhseo1223 nodejs : ejs - main_section_trade : rkmarket_app -->

        <div class="section-main">
            <div class="main-box box-tradereceive">
                <div class="box-left">
                    <p class="box-category">거래하기</p>
                    <p class="box-name">CP&P 받기</p>
                    <p class="box-descript">캐시포인트와 포인트 받기!</p>
                </div>

                <div class="box-right right-tradereceive">
                    <img class="box-icon" src="/icon/trade_receive.svg" alt="">
                </div>
            </div>

            <div class="main-box box-tradesend">
                <div class="box-left">
                    <p class="box-category">거래하기</p>
                    <p class="box-name">CP&P 보내기</p>
                    <p class="box-descript">캐시포인트와 포인트 보내기!</p>
                </div>

                <div class="box-right right-tradesend">
                    <img class="box-icon" src="/icon/trade_send.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section_trade : rkmarket_app -->