<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->

<header>
    <div class="header-mainheader">
        <div class="mainheader-headerleft">
            <a href="/main/menu">
                <img class="headerleft-icon" src="../image/icon/menu.svg" alt="">
            </a>
        </div>

        <div class="mainheader-headercenter">
            <a href="/main/main">
                <p class="headercenter-title"><%- title; %></p>
            </a>
        </div>

        <div class="mainheader-headerright">
            <a href="/main/search">
                <img class="headerright-icon" src="../image/icon/search.svg" alt="">
            </a>
        </div>
    </div>
</header>


<!-- bhseo1223 nodejs : ejs - main_header : rkmarket_app -->