<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->

<section>
    <div class="section-infor">
        <div class="infor-member">
            <div class="member-left">
                <div class="left-image">

                </div>
            </div>

            <div class="member-right">
                <div class="right-levelnickname">
                    <p class="levelnickname-level">LV</p>
                    <p class="levelnickname-nickname">RK마켓조아</p>
                    <p class="levelnickname-end">님</p>
                </div>

                <div class="right-cp">
                    <p class="cp-symbol">@</p>
                    <p class="cp-point">110,500,000</p>
                    <p class="cp-value">(110,000,000)</p>
                </div>
            </div>
        </div>

        <hr class="infor-hr">

        <div class="infor-icons">
            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/shopping.svg" alt="">
                <p class="icon-text">쇼핑하기</p>
            </div>

            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/pay.svg" alt="">
                <p class="icon-text">크립토페이</p>
            </div>

            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/coin.svg" alt="">
                <p class="icon-text">코인</p>
            </div>

            <div class="icons-icon">
                <img class="icon-icon" src="../image/icon/trade.svg" alt="">
                <p class="icon-text">거래하기</p>
            </div>
        </div>
    </div>

    <div class="section-main">
        <div class="main-box box-shopping">
            <div class="box-left">
                <p class="box-category">쇼핑하기</p>
                <p class="box-name">크립토몰</p>
                <p class="box-descript">캐시포인트로 비즈니스 쇼핑하자!</p>
            </div>

            <div class="box-right">

            </div>
        </div>

        <div class="main-box box-pay">
            <div class="box-left">
                <p class="box-category">크립토페이</p>
                <p class="box-name">CP(캐시포인트)</p>
                <p class="box-descript">크립토페이로 캐시포인트 충전!</p>
            </div>

            <div class="box-right">

            </div>
        </div>

        <div class="main-box box-trade">
            <div class="box-left">
                <p class="box-category">거래하기</p>
                <p class="box-name">CP & COIN</p>
                <p class="box-descript">캐시포인트와 코인 거래하기!</p>
            </div>

            <div class="box-right">

            </div>
        </div>
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->