<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->

<section>
    <div class="section-member">
        <div class="member-top">

        </div>
        <div class="member-left">
            <div class="left-image">

            </div>
            <div class="left-nickname">
                <p class="nickname-data">NICKNAME</p>
            </div>
        </div>
    </div>

    <div class="section-mainmall">
쇼핑몰
    </div>
</section>


<!-- bhseo1223 nodejs : ejs - main_section : rkmarket_app -->