<!-- bhseo1223 nodejs : ejs - point_swap : rkmarket_app -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <title>Crypto Market Place</title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/point/point_header.css">
        <link rel="stylesheet" href="/css/point/point_swap_section.css">
        <link rel="stylesheet" href="/css/point/point_footer.css">

        <script src="/script/java.js"></script>
    </head>

    <style>
        header {
            height: calc(8vh + 0.5px);
            background: white;
        }
        section {
            background: var(--color-point-background);
        }
        .cashpointown-ea, .cashpointown-unit, 
        .cashpoint-ea, .cashpoint-unit {
            color: var(--color-point-text);
        }
    </style>

    <body>
        <%- include('parts/point_header'); %>
        <%- include('parts/point_swap_section'); %>
        <%- include('parts/point_footer'); %>
    </body>
</html>


<!-- bhseo1223 nodejs : ejs - point_swap : rkmarket_app -->