/* bhseo1223 nodejs : css - main_section : rkmarket_app */

section {  /* 전체 */
    position: fixed;
    z-index: 9;
    top: 10vh;
    width: 100vw;
    background: transparent;
}

.section-infor { /* 전체-정보 */
    width: 92vw;
    height: 26vh;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 2px 4px 0 gray;
    background: white;
}
.infor-member { /* 정보-회원 */
    display: flex;
    justify-content: space-between;
}
.member-left { /* 회원-좌 */
    margin: 3vh 0 0 3vh;
}
.left-nickname { /* 좌-닉네임 */
    display: flex;
}
.nickname-nickname { /* 닉네임-닉네임 */
    height: 2.5vh;
    margin: 0 0.3vh 0 0;
    line-height: 2.5vh;
    font-size: 4.0vw;
    font-weight: 500;
}
.nickname-end { /* 닉네임-님 */
    height: 2.5vh;
    line-height: 2.5vh;
    font-size: 3.5vw;
    font-weight: 400;
}
.left-classlevel { /* 좌-구매등급 */
    display: flex;
    margin: 0.5vh 0 0 0;
}
.classlevel-label { /* 구매등급-라벨 */
    height: 2.8vh;
    margin: 0 1.5vw 0 0;
    line-height: 2.8vh;
    font-size: 3.8vw;
    font-weight: 500;
}
.classlevel-name { /* 구매등급-명칭 */
    text-align: center;
    width: 13vw;
    height: 2.9vh;
    line-height: 2.7vh;
    font-size: 3.5vw;
    font-weight: 500;
    border-radius: 5px 5px 5px 5px;
    /* box-shadow: 0 1px 1px gray; */
}
.member-right { /* 회원-우 */
    height: 8vh;
    margin: 3vh 3vh 0 0;
}
.right-text { /* 좌-문구 */
    display: flex;
}
.text-text { /* 문구-문구 */
    height: 2.5vh;
    line-height: 2.5vh;
    font-size: 3.5vw;
    font-weight: 500;
}
.right-cashpoint { /* 좌-캐시포인트 */
    display: flex;
    margin: 0.5vh 0 0 0;
}
.cashpoint-ea { /* 캐시포인트-수량 */
    height: 3vh;
    margin: 0 0.3vh 0 0;
    line-height: 3vh;
    font-size: 5.0vw;
    font-weight: 600;
    color: var(--color-main);
}
.cashpoint-unit { /* 캐시포인트-단위 */
    height: 3vh;
    line-height: 3.2vh;
    font-size: 4.5vw;
    font-weight: 500;
    color: var(--color-main);
}
.infor-hr { /* 회원정보-라인 */
    height: 1vh;
    margin: 1vh 2vh 0 2vh;
    border: 0;
    box-shadow: 0 3px 3px -3px gray inset;
}
.infor-icons { /* 정보-아이콘s */
    display: flex;
    justify-content: space-between;
    margin: 0 3vh 0 3vh;
}
.icons-icon { /* 아이콘s-아이콘 */
    width: 20vw;
    margin: 2.5vh 0 2vh 0;
}
.icon-icon { /* 아이콘-아이콘 */
    width: 6vw;
    margin: 0 7vw 0 7vw;
}
.icon-text { /* 아이콘-텍스트 */
    text-align: center;
    margin: 0.5vh 0 0 0;
    font-size: 3.0vw;
    font-weight: 500;
    color: var(--color-main);
}

.section-main { /* 전체-메인 */
    width: 92vw;
    margin: 3vh auto 0 auto;
    background: white;
}
.main-box { /* 메인-박스 */
    display: flex;
    justify-content: space-between;
    width: 92vw;
    height: 13vh;
    border-radius: 15px 15px 15px 15px;
    background: white;
}
.box-left { /* 박스-좌 */
    margin: auto 0 auto 5vw;
}
.box-category { /* 좌-카테고리 */
    font-size: 3.6vw;
    font-weight: 400;
    color: white;
}
.box-name { /* 좌-콘텐츠명 */
    margin: 0.3vh 0 0 0;
    font-size: 4.2vw;
    font-weight: 600;
    color: white;
}
.box-descript { /* 좌-설명 */
    font-size: 3.8vw;
    font-weight: 500;
    color: white;
}
.box-right { /* 박스-우 */
    width: 18vw;
    height: 18vw;
    margin: auto 5vw auto 0;
    border-radius: 50%;
    background: white;
}
.box-icon { /* 박스-아이콘 */
    width: 10vw;
    height: 10vw;
    margin: 4vw 4vw 4vw 4vw;
    filter: invert();
}
.box-shopping { /* 박스-쇼핑하기 */
    margin: 2vh auto 0 auto;
    background: rgba(255, 75, 0, 0.8);
}
.right-shopping { /* 우-쇼핑하기 */
    background: rgba(255, 75, 0, 0.8);
}
.box-pay { /* 박스-크립토페이 */
    margin: 2vh auto 0 auto;
    background: rgba(75, 0, 255, 0.8);
}
.right-pay { /* 우-크립토페이 */
    background: rgba(75, 0, 255, 0.8);
}
.box-trade { /* 박스-거래하기 */
    margin: 2vh auto 0 auto;
    background: rgba(255, 0, 75, 0.8);
}
.right-trade { /* 우-거래하기 */
    background: rgba(255, 0, 75, 0.8);
}


/* bhseo1223 nodejs : css - main_section : rkmarket_app */